Repository astropy/specutils, pull requests merged in 2018-09, with the labels that each got.

#306 Should the default fitter be SimplexLSQFitter or LevMarLSQFitter?
  specutils/fitting/continuum.py
  specutils/fitting/fitmodels.py
  specutils/tests/test_continuum.py
  specutils/tests/test_fitting.py
Labels: discussion, fitting

#276 Return quantity objects in pix2world and world2pix transformations
  specutils/spectra/spectrum_mixin.py
  specutils/tests/test_slicing.py
  specutils/tests/test_spectrum1d.py
  specutils/wcs/adapters/fitswcs_adapter.py
  specutils/wcs/adapters/gwcs_adapter.py
Labels: Priority: high

#277 Remove unit and spectral_axis_unit from initializer
  .travis.yml
  docs/arithmetic.rst
  docs/basic_analysis.rst
  docs/getting_started.rst
  docs/img/quick_start2.png
  docs/rtd-pip-requirements
  docs/smoothing.rst
  specutils/conftest.py
  specutils/manipulation/estimate_uncertainty.py
  specutils/manipulation/smoothing.py
  specutils/manipulation/utils.py
  specutils/spectra/spectrum1d.py
  specutils/spectra/spectrum_mixin.py
  specutils/tests/test_analysis.py
  specutils/tests/test_arithmetic.py
  specutils/tests/test_slicing.py
  specutils/tests/test_spectrum1d.py
Labels: Priority: high

#308 Fix photon_flux units
  specutils/spectra/spectrum1d.py
  specutils/tests/test_spectrum1d.py
Labels: bug

#325 change SpectralRegion.from_center to be a classmethod
  specutils/spectra/spectral_region.py
Labels: enhancement

#273 Spectrum collection without resampling
  docs/conf.py
  docs/getting_started.rst
  docs/index.rst
  docs/nitpick-exceptions
  docs/spectrum_collection.rst
  specutils/spectra/__init__.py
  specutils/spectra/spectrum1d.py
  specutils/spectra/spectrum_collection.py
  specutils/tests/test_loaders.py
  specutils/tests/test_spectrum_collection.py
Labels: Priority: high

#324 WIP: Fix equivalent width and implement line flux
  specutils/analysis/__init__.py
  specutils/analysis/equivalent_width.py
  specutils/analysis/flux.py
  specutils/analysis/utils.py
  specutils/analysis/width.py
  specutils/tests/test_analysis.py
Labels: Priority: high, analysis, feature

#329 Module and import cleanup in analysis subpackage
  specutils/analysis/__init__.py
  specutils/analysis/flux.py
  specutils/analysis/location.py
  specutils/analysis/uncertainty.py
  specutils/analysis/utils.py
  specutils/analysis/width.py
Labels: analysis

#334 Fix issues with regions keyword and region extraction in analysis
  specutils/analysis/flux.py
  specutils/analysis/utils.py
  specutils/analysis/width.py
  specutils/tests/test_analysis.py
Labels: analysis

#332 Use subok=True when broadcasting Quantity
  specutils/analysis/width.py
Labels: analysis

#341 Make extract support pixel/other spectral units
  docs/spectral_regions.rst
  specutils/manipulation/extract_spectral_region.py
  specutils/tests/test_region_extract.py
Labels: bug

#313 Front documentation updates
  docs/analysis.rst
  docs/basic_analysis.rst
  docs/custom_loading.rst
  docs/fitting.rst
  docs/high-level_API.rst
  docs/index.rst
  docs/installation.rst
  docs/manipulation.rst
  docs/spectral_regions.rst
  docs/spectrum1d.rst
  docs/spectrum_collection.rst
  docs/specutils_classes_diagrams.png
  docs/specutils_classes_diagrams.pptx
  docs/types_of_spectra.rst
  specutils/analysis/uncertainty.py
  specutils/fitting/continuum.py
  specutils/manipulation/estimate_uncertainty.py
  specutils/spectra/spectral_region.py
  specutils/tests/test_analysis.py
Labels: docs
