Repository astropy/specutils, pull requests merged in 2024-08, with the labels that each got.

#1157 Add documentation for kwargs passed to reader+writer backends
  .github/workflows/ci_workflows.yml
  docs/conf.py
  docs/spectrum1d.rst
  specutils/io/default_loaders/ascii.py
  specutils/io/default_loaders/generic_ecsv_reader.py
  specutils/io/default_loaders/tabular_fits.py
  specutils/io/default_loaders/wcs_fits.py
  specutils/io/parsing_utils.py
Labels: docs, io

#1158 Ensure arithmetic results preserve spectral axis shifts
  CHANGES.rst
  specutils/spectra/spectrum1d.py
  specutils/tests/test_arithmetic.py
Labels: bug, data objects

#1159 Compromise and print out the estimated parameters individually
  docs/fitting.rst
Labels: testing, docs
