Repository astropy/specutils, pull requests merged in 2024-10, with the labels that each got.

#1175 Add docs about air to vac conversion
  docs/air_to_vac_offset.png
  docs/index.rst
  docs/refractive_index_singularities.png
  docs/wcs_utils.rst
  specutils/utils/wcs_utils.py
Labels: docs

#1176 Bump minimum supported python version to 3.10
  .github/workflows/ci_workflows.yml
  CHANGES.rst
  docs/contributing.rst
  setup.cfg
  tox.ini
Labels: testing

#1177 Add changelog check to CI
  .github/workflows/changelog.yml
  CHANGES.rst
Labels: testing, no-changelog-entry-needed

#1180 Replace LevMarLSQFitter with TRFLSQFitter
  CHANGES.rst
  docs/fitting.rst
  docs/index.rst
  docs/manipulation.rst
  specutils/fitting/continuum.py
  specutils/fitting/fitmodels.py
  specutils/tests/test_model_replace.py
Labels: fitting

#1181 Upstream fix for "Investigate replacing spectrum1d unit conversion in cubeviz parser"
  CHANGES.rst
  specutils/spectra/spectrum_mixin.py
  specutils/tests/test_spectrum1d_unit_pix2.py
Labels: bug

#1187 Fix mixed unit spectral region extraction
  CHANGES.rst
  specutils/manipulation/extract_spectral_region.py
  specutils/tests/test_region_extract.py
Labels: bug, manipulation
