Repository astropy/specutils, pull requests merged in 2024-01, with the labels that each got.

#1118 Allow template correlation for spectrum with no uncertainty
  CHANGES.rst
  specutils/analysis/correlation.py
  specutils/tests/test_correlation.py
Labels: bug, analysis

#1116 Add a DESI file reader
  .gitignore
  setup.cfg
  specutils/io/default_loaders/desi.py
  specutils/io/default_loaders/tests/desi_test_data/coadd-5-169-thru20210419.fits
  specutils/io/default_loaders/tests/desi_test_data/coadd-sv3-dark-26065.fits
  specutils/io/default_loaders/tests/desi_test_data/spectra-5-169-thru20210419.fits
  specutils/io/default_loaders/tests/desi_test_data/spectra-sv3-dark-26065.fits
  specutils/io/default_loaders/tests/generate_desi_test_data.py
  specutils/io/default_loaders/tests/test_desi.py
Labels: enhancement, io

#937 Some updates to specutils.analysis functions
  specutils/analysis/template_comparison.py
  specutils/tests/test_template_comparison.py
Labels: enhancement, analysis
